
.destacados {
  padding: 60px 80px;
  background-color: #fcfbfa;
  color: white;
  text-align: center;
}


.destacados h2 {
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #08162f;
}

.colecciones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;

}

.coleccion-card {
  background-color: #222;
  box-shadow: #333;
  border-radius: 14px;
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease; /* Chat: para la animacion/transicion mas smooth */
}

.coleccion-card:hover {
  transform: translateY(-5px); /* Chat: para hacer que se eleve un poco al pasar mouse*/
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
}

.imagen-cuadro {
  width: 100%;
  height: 70%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagen-cuadro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-card {
  padding: 12px 15px 18px;
}

.info-card small {
  display: block;
  font-size: 12px;
  color: #bbb;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
}

.info-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 5px;
}

.info-card p {
  color: #ffb347;
  font-weight: bold;
  font-size: 14px;
}


.boton-explorar {
  margin-top: 50px;
  background-color: #08162f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}

.boton-explorar:hover {
  background-color: #bbb;
}


